{{ partial "header.html" . }}
<body lang="{{ .Site.LanguageCode }}">
  <div class="nav-bkg">
    <nav class="content-container pagewide-bar-padding">
      <span class="divider">/ </span>
      <a href="{{ .Site.BaseURL  }}" >{{ .Site.Title  }}</a>
      {{ partial "right-links" . }}
    </nav>
  </div>

  <section id="main" class="content-container look-sheet article-pad-v {{ if (or .Params.disableMarginNotes .Site.Params.disableMarginNotes) }}no-floating-footnotes{{ end }}" itemprop="mainEntityOfPage">
    <h1 itemprop="name" id="title">{{ .Title }}</h1>

    <article itemprop="articleBody" id="content" class="article-body">
      {{ .Content }}
    </article>
  </section>
  {{ partial "footer.html" . }}
  </body>
</html>
