<link rel="stylesheet" href="{{ relURL "/css/reboot.css" }}" />
<link rel="stylesheet" href="{{ relURL "/css/style.css" }}" />
<script type="text/javascript" src="{{ relURL "/js/main.js" }}"></script>

<!-- add syntax highlighting -->
<link rel="stylesheet" href="{{"/highlight/styles/github-gist.css" | absURL}}" rel="stylesheet" id="theme-stylesheet">
<script src="{{ "highlight/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- end syntax highlighting-->


<!-- add mathjax -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
</script>
<!-- end mathjax -->

<!-- Google Font API-->
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap" rel="stylesheet">