{{ partial "header.html" . }}
<body lang="{{ .Site.LanguageCode }}">
  <div class="nav-bkg">
    <nav class="content-container pagewide-bar-padding">
      <span class="divider">/ </span>
      <a href="{{ .Site.BaseURL  }}" >{{ .Site.Title  }}</a>
      {{ partial "right-links" . }}
    </nav>
  </div>

  <section id="main" class="content-container article-pad-v">
    <div>
      <h1 id="title" style="margin-bottom: 0.75em">Recent posts</h1>
      <ul id="list" class="list-unstyled list-of-titles">
         {{ range first 3 .Site.RegularPages }}
         <li>
             <a href="{{ .RelPermalink}}">
              <span class="post-title">{{ .Title }}</span>
              <br>
              {{if .Params.subtitle }}
              <span class = "post-subtitle"> {{.Params.subtitle}}</span> 
              <br> {{ end }}
              <span class="post-meta">{{ .Date.Format "January 2, 2006" }}</span>
              <br>
              {{if .Params.tags }}
              <span class="post-meta">
                {{ range .Params.tags }}
                  #{{ . }}&nbsp;
                {{ end }}
              </span>
              <br> {{ end }}
              {{ if .Params.series }}
              <span class="post-meta">
                {{ range .Params.series }}
                  SERIES: {{ . }}
                {{ end }}
              </span>
              <br> {{ end }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>

 
  </body>
</html>

